/* app css stylesheet */

body {
  background-color: #111;
}

.menu {
  display: flex;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.logo {
  height: 80px;
  margin-left: 1em;
}

.page-title {
  font-size: 2.5em;
  color: #999;
  margin-left: 2em;
}

.videos {
	display: flex;
	flex-flow: row wrap;
  width: 2000px;
}

.video-container {
	//margin-left: 1em;
	border: 1px solid grey;
}

.selected-video {
  border: 2px solid red;
}